[user]
	name = Matthew Thorley
	email = padwasabimasala on gmail
[alias]
  st = status
  ci = commit
  cam = commit -am
  br = branch
  co = checkout
  df = diff --color
  dfc = diff --color --cached
  lg = log -p
  rh = reset --hard
  lg = "!git log --abbrev-commit --date=short --pretty=format:'-SEP-%h-SEP-%cd-SEP-%s-SEP-%an-SEP-%d' | awk -F '-SEP-' '{ printf \"%s\\033[31m%s\\033[0m \\033[32m%s\\033[0m   %-100s \\033[30;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, $3, $4, $5, $6 }'|less -R"
[core]
	editor = /usr/bin/vim
